# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# Logs
logs/
src/logger/logs/
*.log

# Environment
.env

# Uploaded Files
uploads/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db